<div class="container">
    <form class="form-search">
        <h2 class="form-search-heading text-center">Search for places</h2>
        <label for="inputStablishment" class="sr-only">Stablishment</label>
        <input type="text" id="inputStablishment" class="form-control" placeholder="type here" required autofocus>
    </form>
</div>